Grit_Flags.docx
*.ini
*.gba
build/*
*/Images/*.h
*.sgm
*.dmp
*.bak
*.lnk
*.sav
*.sa1
*.sa2
*.sg1
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.pal
*.spr
*.ips
*.ups
*.bps
*.cheats
*.toml
Multi Target Moves Plan.txt
generatedrepoints
*__pycache__
*.idea
tables.xlsx
cfru_thread.txt
src/Tables/criminon_trainer_spreads.c
Cover Art.png

# generated temporary files
.fuse*

# pycache files
*.pyc
src/start_menu.cj
*.nlz
test-10.png
test-11.png
test-12.png
*.dat
.vscode/settings.json
test-13.png
test.sa3
test.sa4
test-16.png
